h1{
    text-align: center;
    color: #556B2F;
}
p{
    text-align: center;
}

h4{
    text-align: center;
    color: #556B2F;
}

.answer{
    display: inline;
    overflow-wrap: break-word;
}
#answers{
    background-color: #F0FFFF;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
    margin-left: 15%;
    margin-right: 15%;
    text-align: left;
    

}
#questiontext{
    display: block;
}

#question{
    text-align: center;
    padding-top: 50px;
}

#nextbutton{
    text-align: right;
    padding-right: 25%;
}
#next{
    width: 100px;
    height: 50px;
}

#qanda{
    background-color: #F0FFFF;
    margin-left: auto;
    margin-right: auto;
    inline-size: 60%;
    overflow-wrap: break-word;

}

.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 37.5%;
    right: 0;
    width: 25%;
    height: 25%;
    background-color: #ADFF2F;
}
.close{
    background-color: #F0FFFF;
    display: table;
    margin: 0 auto;
}
body{
    background-color: #F0FFFF;
    font-family: Helvetica;
}
button:hover{
    background-color: #556B2F;
    color: #F0FFFF;
}
span:hover{
    background-color: #556B2F;
    color: #F0FFFF;
}
.answerbutton{
    width: 50px;
    height: 50px;
}
